<div ng-controller="installerCtrl">
    <div class="row " >
        <div class="col-xs-12" >
            
            <h1>Docker</h1>
            
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe facilis, aspernatur incidunt sapiente ratione tempore atque assumenda possimus obcaecati, fuga nesciunt maxime a commodi et laborum esse facere cupiditate perferendis.
                
            </p>
            <pre></pre>
            <pre class="gen-command"></pre>


            <!-- _________________________________________________ -->
            <hr>
            <p>Reference: <br>
                <a href="LINK" target="_blank"> LINK </a>
            </p>
        </div>
    </div>
</div>

<script>document.title = "Install CCCC"; </script>