<div ng-controller="installerCtrl">
    <div class="row " >
        <div class="col-xs-12" >
            
            <h1>Node</h1>
            
            <h3>Set Up ...</h3>
            <p>
            <code>sudo apt install nodejs</code>
            <code>node -v</code> or <code>node –version </code>
            <code>sudo apt install npm</code>
            <code>npm -v</code> or <code>npm –version</code>

            Find the version of an installed npm package: Use <code>npm list</code> for local packages or <code>npm list -g</code> for globally installed packages. ou can find the version of a specific package by passing its name as an argument <code>npm list grunt</code>
            <code></code>
            <code></code>
            <code></code>
            <code></code>
            <code></code>





</p>

            <hr>

            <p>Reference: <br>
                <ul>
                    <li> <a href="https://monovm.com/blog/how-to-check-nodejs-version/" target="_blank">How to Check Node Version?</a> </li>
                </ul>
                
            </p>

        </div>
    </div>
</div>

<script>document.title = "Install Docker"; </script>


<!-- COMANDS  

# install latest version of package
npm install PACKAGE_NAME
# install especific Version of package
npm install PACKAGE_NAME@4.16.1

    -->
 