code<div ng-controller="installerCtrl">
    <div class="row " >
        <div class="col-xs-12" >
            
            <h1>Visual Studio Code</h1>
            
            <p>
                Official documentation: <a href="https://code.visualstudio.com/docs/" target="_blank" rel="noopener noreferrer">https://code.visualstudio.com/docs/</a><br>
                <a href="https://code.visualstudio.com/docs/getstarted/introvideos#VSCode" target="_blank" rel="noopener noreferrer">Introductory Videos</a>

            </p>

            <ul>
                <li><a href="https://code.visualstudio.com/docs/setup/linux" target="_blank" rel="noopener noreferrer">Visual Studio Code on Linux</a></li>
                <li><a href="https://linuxize.com/post/how-to-install-visual-studio-code-on-ubuntu-20-04/" target="_blank" rel="noopener noreferrer">How to Install Visual Studio Code on Ubuntu 20.04</a></li>

            </ul>

            <ul>
                <li>Vsc <a href="https://code.visualstudio.com/docs/setup/uninstall" target="_blank" rel="noopener noreferrer">uninstall</a></li>
                <li>superuser.com: <a href="https://superuser.com/questions/1113022/how-do-i-remove-vs-code-settings-from-ubuntu" target="_blank" rel="noopener noreferrer">How do I remove VS Code & settings from Ubuntu?</a></li>
                <li>askubuntu: <a href="https://askubuntu.com/questions/771334/how-do-i-uninstall-visual-studio-code" target="_blank" rel="noopener noreferrer">How do I uninstall Visual Studio Code?</a></li>
            </ul>
            <h3>Commands</h3>

            <b>Install</b>
            <pre>sudo apt install ./code_1.82.2-1694671812_amd64.deb </pre>

            <b>Uninstall</b>
            <pre>snap refresh code
sudo apt-get remove code
sudo apt update && sudo apt -y upgrade
sudo apt-get remove code
sudo apt-get remove code
cd $HOME/.config/
rm -rf Code/
rm -rf ~/.vscode
sudo apt-get purge code
which visual-studio-code
sudo apt remove code && sudo apt autoremove</pre>

            <hr>

            <p>Reference: <br>
                <ul>
                    <li> <a href="https://monovm.com/blog/how-to-check-nodejs-version/" target="_blank">How to Check Node Version?</a> </li>
                </ul>
                
            </p>

        </div>
    </div>
</div>

<script>document.title = "Install Docker"; </script>


<!-- COMANDS  

# install latest version of package
npm install PACKAGE_NAME
# install especific Version of package
npm install PACKAGE_NAME@4.16.1

    -->
 