<table class="table">
    <caption>Some Usefull commands</caption>
    <th><td>$ command</td><td>Options</td><td>Description</td></th>
    <tr>
        <td>hostname -I</td>
        <td><a href="https://www.geeksforgeeks.org/hostname-command-in-linux-with-examples/#:~:text=hostname%20command%20in%20Linux%20is,it%20attached%20to%20the%20network." target="_blank">examples</a> </td>
        <td>This option is used to get the IP(network) addresses. This option works only if the hostname is resolvable.</td>
    </tr>
    <!-- <tr><td></td><td></td><td></td></tr> -->
</table>