
<h5>Some Usefull commands</h5>
<table class="table">
    <tr>
        <td>hostname -I</td>
        <td><a href="https://www.geeksforgeeks.org/hostname-command-in-linux-with-examples/#:~:text=hostname%20command%20in%20Linux%20is,it%20attached%20to%20the%20network." target="_blank">examples</a> </td>
        <td>This option is used to get the IP(network) addresses. This option works only if the hostname is resolvable.</td>
    </tr>
    <tr><td>ifconfig</td><td>&nbsp;</td><td>When you are done with the net-tools installation, type the following command and it will show you the IP address</td></tr>

    <tr><td>ip addr show</td><td>&nbsp;</td><td>Show ip configuration</td></tr>
    <tr><td>ip address</td><td>&nbsp;</td><td>Show ip configuration</td></tr>
    <!-- <tr><td></td><td>&nbsp;</td><td></td></tr> -->
</table>


<h5>Short-Cuts</h5>
<table class="table">
    <tr><td>Open Terminal</td> <td>Ctrl+Alt+T</td></tr>
</table>