<div class="panel panel-default">
    <div class="panel-heading">
      Agregar columna a tabla:
    </div>
    <div class="panel-body">
      <pre>ALTER TABLE nombreTabla ADD COLUMN nombreColumna  boolean NOT NULL default false;</pre>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      Verifica el numero de conexiones actuales:
    </div>
    <div class="panel-body">
      <pre>SELECT datname,usename,client_addr,waiting,query_start FROM pg_stat_activity;</pre>
    </div>
</div>