<div class="container" ng-controller="codeviewCtrl">
    <div class="content-header">
        <span class="content-title">Consultas Sql</span>
    </div>
    
    
    <div class="row" >
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" data-target="#common">Add</a></li>
            <li><a data-toggle="tab" data-target="#persona">Persona</a></li>
            <li><a data-toggle="tab" data-target="#posicion">Posicion</a></li>
            <li><a data-toggle="tab" data-target="#domicilio">Domicilio</a></li>
            <li><a data-toggle="tab" data-target="#docclass">Doc Clas</a></li>
            <li><a data-toggle="tab" data-target="#notificacion">Notificacion</a></li>
            <li><a data-toggle="tab" data-target="#candidato">Candidato</a></li>
        </ul>

        <div class="tab-content">
            <div id="common" class="tab-pane fade in active">
                <common-sql></common-sql>
            </div>
            <div id="persona" class="tab-pane fade">
                <persona-sql></persona-sql>
            </div>
            <div id="posicion" class="tab-pane fade">
                <posicion-sql></posicion-sql>
            </div>
            <div id="domicilio" class="tab-pane fade">
                <domicilio-sql></domicilio-sql>
            </div>
            <div id="docclass" class="tab-pane fade">
                <docclass-sql></docclass-sql>
            </div>
            <div id="notificacion" class="tab-pane fade">
                <notificacion-sql></notificacion-sql>
            </div>
            <div id="candidato" class="tab-pane fade">
                <candidato-sql></candidato-sql>
            </div>
            
        </div>
    </div>  <!-- //row -->
</div>
<!-- /home/netto/app/webServer/PORTFOLIO/wikinetto/img/acronyms01.jpg -->
<!-- AngularJS/Bootstrap tabs route conflict: https://cirovladimir.wordpress.com/2019/02/25/angularjs-bootstrap-tabs-route-conflict/ -->