<h3>Security Acronyms</h3>
<table>
	<tr> <td><b>XSS</b></td> <td>Cross-site Scripting</td></tr>
	<tr> <td><b>DOS</b></td> <td>Denial of Services</td></tr>
	<tr> <td><b>DDOS</b></td> <td>Distributed Denial of Services</td></tr>
	<tr> <td><b>IPSec</b></td> <td>Internet Protocol Security</td></tr>
	<tr> <td><b>SSE</b></td> <td>Server Side Encryption</td></tr>
	<tr> <td><b>TLS</b></td> <td>Transport Layer Security</td></tr>
	<tr> <td><b>CSP</b></td> <td>Content Security Protocol</td></tr>
	<tr> <td><b>CBSP</b></td> <td>Cloud-Based Security Providers</td></tr>
	<tr> <td><b>AES</b></td> <td>Advanced Encryption System</td></tr>
	<tr> <td><b>MFA</b></td> <td>Multifactor Authentication</td></tr>
	<tr> <td><b>WAF</b></td> <td>Web Application Firewall</td></tr>
	<tr> <td><b>STS</b></td> <td>Security Token Service</td></tr>
	<tr> <td><b>RAT</b></td> <td>Remote Administration Tool</td></tr>
	<tr> <td><b>SPF</b></td> <td>Sender Policy Framework</td></tr>
	<tr> <td><b>CVSS</b></td> <td>Common Vulnerability Scoring Service</td></tr>
	<tr> <td><b>SAST</b></td> <td>Static Application Security Testing</td></tr>
	<tr> <td><b>DAST</b></td> <td>Dynamic Application Security Testing</td></tr>
	<tr> <td><b>WAP</b></td> <td>Web Application Protection</td></tr>
	<tr> <td><b>SCD</b></td> <td>Source Code Disclosure</td></tr>
	<tr> <td><b>DSA</b></td> <td>Digital Signature Algorithm</td></tr>
	<tr> <td><b>DES</b></td> <td>Data Encryption Standard</td></tr>

</table>