<h3>AWS Resources </h3>
    <div class="row">
        
            <div class="card bg-light mb-3"><!-- <div class="card bg-light mb-3" style="max-width: 18rem;"> -->
                <div class="card-header">Integration, tools, examples</div>
                <div class="card-body">
                    <h5 class="card-title"> 
                        <a href="https://catalog.us-east-1.prod.workshops.aws/workshops/02696107-09ac-4313-a6cb-3798048b07d7/en-US/0-pre-requisites/0-getting-started/toolkit/vscode-toolkit" target="_blank">
                        Install AWS Toolkit for Visual Studio Code</a> </h5>
                    <p class="card-text">
                        If you plan to work with Visual Studio Code on your local machine, follow these instructions to install the AWS Toolkit for Visual Studio Code.
                    </p>
                </div>
            </div>
    </div>