<h3>Simple Video AWS Tutorials </h3>
    <div class="row">
        
            <div class="card bg-light mb-3"><!-- <div class="card bg-light mb-3" style="max-width: 18rem;"> -->
                <div class="card-header">S3, CloudFront, Balancer</div>
                <div class="card-body">

                    <h5 class="card-title"> <a href="https://youtu.be/KASOBo_8Py0" target="_blank">
                        Project: Host Static Website in AWS S3</a> </h5>
                    <p class="card-text">
                        Project on hosting static website in S3. If our website is static in nature then we don't require any web-server. We can host it easily with the help of amazon s3 service
                    </p>

                    <h5 class="card-title"> <a href="https://youtu.be/orEEW4pD53c" target="_blank">
                        How to Host a Static Website on AWS | Static Web Hosting on Amazon S3 | Edureka</a> </h5>
                    <p class="card-text">
                        gives you an overview of how to host a website on Amazon S3. It also talks about what static web hosting is and how it works.
                        <ul>
                            <li>00:00 Introduction</li>
                            <li>00:56 Static vs Dynamic Website</li>
                            <li>03:02 Why Host a website on AWS S3</li>
                            <li>05:24 What is AWS S3</li>
                            <li>06:21 Demo</li>
                        </ul>
                    </p>

                    <h5 class="card-title"> <a href="https://youtu.be/UISX6EcZdOc" target="_blank">
                        AWS Static Website Hosting on AWS S3 Bucket using Route 53</a> </h5>
                    <p class="card-text">
                        A step by step tutorial on how to setup a static website hosting using Amazon Web Services S3 bucket service using AWS Route 53.  
                        AWS S3 is highly cost effective, highly scalable solution for any static website.
                        <button type="button" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#mdBucketPolicy">Policy</button>
                    </p>

                    <h5 class="card-title"> <a href="https://www.youtube.com/watch?v=uwgB_sIhIko" target="_blank">
                        Hosting a static website with HTTPS on an S3 bucket</a> </h5>
                    <p class="card-text">
                        Introduction how to use S3 and CloudFront to host a static website on AWS using a custom domain and HTTPS (+Certificates).</p>
                </div>
            </div>
    </div>


    <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="mdBucketPolicy" tabindex="-1" role="dialog" aria-labelledby="mdBucketPolicyLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mdBucketPolicyLabel">Bucket policy</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <pre>{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AllowPublicReadAccess",
            "Effect": "Allow",
            "Principal": "*",
            "Action": "s3:GetObject",
            "Resource": <b>"arn:aws:s3:::dothr.net/*"</b>
        }
    ]
}</pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>